@import 'src/assets/global.scss';

.banner-container {
  width: 100%;
  background: transparent;
}

.banner {
  position: relative;
  display: flex;
  height: rem(500);
  flex-wrap: wrap;
  border-radius: rem(15);
  width: 100%;
  overflow: hidden;
  box-shadow: 11px 17px 20px 0px #00020a;

  @media only screen and (max-width: 900px) {
    height: unset;
    display: block;
  }

  .image {
    width: 60%;
    background-position: center;
    background-size: cover;
    border-top-left-radius: rem(10);
    border-bottom-left-radius: rem(10);
    overflow: hidden;
    position: relative;
    background-repeat: no-repeat;

    @media only screen and (max-width: 900px) {
      width: 100%;
      height: rem(200);
    }
  }

  .info {
    border-top-right-radius: rem(10);
    border-bottom-right-radius: rem(10);
    width: 35%;
    max-height: 100%;
    padding: rem(40) 2.5%;
    background-color: $darker-color;
    position: relative;
    line-height: rem(29);
    letter-spacing: rem(1);
    overflow: hidden;

    @media only screen and (max-width: 900px) {
      width: 100%;
    }
  }

  .game-name {
    font-size: rem(32);
    line-height: rem(32);
    margin-bottom: rem(30);
  }

  .description {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3; 
    -webkit-box-orient: vertical;

    @media only screen and (max-width: 900px) {
      -webkit-line-clamp: 2;
      line-clamp: 2; 
    }
  }

  .availability {
    text-transform: uppercase;
    padding: rem(10);
    font-size: rem(24);
    line-height: rem(24);
    position: absolute;
    text-align: center;
    background-color: $secondary-color;
    width: rem(400);
    transform: rotate(-25deg);
    left: -90px;
    top: 40px;
    box-shadow: 20px 4px 20px 0px #101010;

    
    @media only screen and (max-width: 900px) {
      font-size: rem(14);
      line-height: rem(14);
      transform: rotate(0deg);
      left: 0;
      top: 0;
      padding: rem(5) rem(10);
      width: calc(100% - rem(20));
      text-transform: uppercase;
    }

    &.date {
      padding: rem(15) rem(10);
      font-size: rem(18);
      line-height: rem(18);

      @media only screen and (max-width: 900px) {
        font-size: rem(14);
        line-height: rem(14);
        padding: rem(5) rem(10);
      }
    }
  }
}