@import './tools.scss';

$light-white: white;
$dark-white: rgba(255, 255, 255, 0.7);

$light-color: #1f8a9f;
$dark-color: #151d27;
$darker-color: #060606;
$secondary-color: #910043;
$secondary-light: #ff1d85;

a {
  text-decoration: none;
}